.shop-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.shop {
	position: relative;
	background-color: #2A2B30;
	padding-top: 63px;
	
}

.compare-basket {
	position: relative;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	background-color: #212227;

	padding: 5px 20px;
}

.basket-icon {
	height: 100%;
	margin: 0 20px;
}

.shop-btn {
	height: 40px;
	width: 40px;
	background: url(../../img/shop.png) no-repeat center;
	background-size: 100%;
}

.search-btn {
	height: 50px;
	width: 50px;
	margin-left: 10px;
	background: url(../../img/basics.png) no-repeat center;
	background-size: 100%;
	cursor: pointer;
}

.product-in-box {
	transition: all .5s ease-in-out;
	height: 60px;
	width: 100%;
	margin-left: 20px;
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.product-in {
	position: relative;
	height: 60px;
	width: 60px;
	background-color: #42444F;
	border-radius: 5px;
	margin-left: 10px;
}

.product-in p {
	position: absolute;
	top: 3px;
	left: 5px;
	font-size: 12px;
	color: #fff;
	font-weight: 600;
}

.product-in-img {
	max-height: 50px;
	width: auto;
	background: url(../../img/10.png) no-repeat center;
	background-size: 100%;
}

.product-in-off {
	position: absolute;
	top: 2px;
	right: 4px;
	font-size: 10px;
	color: #fff;
	z-index: 12;
}

.input-container { 
	width: 0px;
	height: 40px;
	transition: all .5s ease-in-out;
	border-radius: 5px;
	
}

.search-input { 
	height: 40px;
	width: 100%;
	border: none;
	background-color: #CECECE;
	padding: 0 10px;
	font-size: 20px;
	color: #2A2B30;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	transition: all .5s linear;
	border-radius: 5px;
}

.search-input:focus { 
	outline-color: transparent;	
}

.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 50px;
}

.product {
	display: flex;
	flex-direction: column;
	padding: 25px;
	align-items: center;
	position: relative;
    text-align: center;
    background-color: #24252A;
    border-radius: 5px;
	margin: 10px;
}

.product-img img {
	max-height: 160px;
	width: auto;

}

.product h3 {
	color: #CECECE;
	font-size: 18px;
	margin-top: 10px;
	text-transform: uppercase;
	min-height: 72px;
	width: 180px;
}

.product-price {
	color: #CECECE;
	font-size: 15px;
	margin-top: 10px;
}

.product-btn {
	font-size: 15px;
	color: #CECECE;
	text-decoration: none;
	padding: 10px 20px;
	background-color: #2A2B30;
	margin-top: 15px;
	border-radius: 3px;
	border: 1px solid #2A2B30;
	transition: all .3s ease-in-out;
}

.product-btn:hover {
	border: 1px solid #CECECE;
	transition: all .3s ease-in-out;
}

.product-btn p {
	margin-left: 10px;
}

.card-product-container {

	position: fixed;
	width: 100vw;
	height: 100vh;
	transform: translateX(-120%);
	color: #CECECE;
	z-index: 21;
	transition: transform .6s linear;
	margin-top: -63px;
	background-color: rgba(255, 255, 255, .5);
	overflow-y: auto;
	
}
.card-product-box {
	position: absolute;
	top: 63px;
	left: 50%;
	
	width: 500px;
	position: absolute;
	margin-left: -250px;
	background-color: #2A2B30;

	border-radius: 5px;
	padding: 50px;
	margin-bottom: 63px;
	

}

.card-product  {
	position: relative;
	display: flex;
	padding: 20px;
	background-color: #24252A;
	border-radius: 5px;
	border: 2px solid rgba(255, 255, 255, .2);
	margin-top: 10px;
	width: 396px;

}

.card-product:first-child  {
	margin-top: 0;
}

.card-product-buy {

	display: flex;
	justify-content: space-between;
	width: 396px;
	align-items: center;
	margin: 20px 0;
	padding: 40px 0 0 0;
	height: 50px;
	border-top: 2px solid rgba(255, 255, 255, .2);
}

.card-product-buy a {

	padding: 10px 15px;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 5px;
	text-decoration: none;
	color: rgba(255, 255, 255, .6);
}

.shop-btn {
	cursor: pointer;
}

.card-product  div {
	margin-left: 50px;

}

.card-product-off {
	position: absolute;
	top: 6px;
	right: 10px;
	color: rgba(255, 255, 255, .5);
}


.card-product img {
	max-height: 94px;
	width: auto;
	margin: 0 20px;
}


.card-product-title {
	max-width: 200px;
	height: 45px;
}

.card-product-sum {
	margin-top: 5px;
}

.single-product-container {
	position: fixed;
	transform: translateX(-120%);
	color: #CECECE;
	height: 100vh;
	width: 100vw;
	z-index: 12;
	transition: transform .6s linear;
	margin-top: -63px;
	background-color: rgba(255, 255, 255, .5);
}


.single-product-c {

	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -170px;
	margin-left: -300px;
	z-index: 14;
}

.single-product {
	position: relative;
	display: flex;
	border-radius: 10px; 
	padding: 15px;
	width: 600px;
	height: 340px;
	background-color: #24252A;
	
}

.single-product-content {
	width: 70%;
}

.single-product-img {
	width: 30%;
	text-align: center;
}

.single-product-img img {
	max-height: 300px;
}

.single-product-in-off {
	position: absolute;
	top: 5px;
	right: 12px;
	font-size: 20px;
	color:  #CECECE;
	
}





